body{
	margin: none; 

}

li {
    display: inline-block;
    margin-right: -4px;
	float: right;
	padding-right: 30px;
  }

  .navbar, .navbar-default {
	border-width: 0px;
	background-color: #FFFFFF;
	margin-top: 20px;
	color: black;
 }
 

.col-sm-6{
text-align: center;
padding-top: 150px;	
 }

 .panelOne{
 		height: auto;
	width: 100%;
	background-color: rgb(247,222,123);
	padding-top:100px;
	text-align: center;
	padding-bottom: 100px;
	
 }

 .row{
 	margin-top: -30px;
 	padding-bottom: 100px;
 }

 #say{
 	text-align: center;
 }

 #connect{
 	margin-top: 50px;
 	text-align: center;
 }

 #social{
 	text-align: center;
 	margin-top: 30px;
 	padding-bottom: 50px;
 }

 .kw{
 	margin-top: 70px;
 	margin-right: -1100px;
 }

  #panelThree{
	height: 460px;
	width: 100%;
	background-color: rgb(40,81,153); 
	color: white;
	text-align: center;
 } 
 .me{
 	padding-top: 60px;
 }



